body{
  background-color: rgb(255, 255, 255);
    }


#Trabajo{
  display: flex;
margin: 10px;
font-size: 20px;
}

.cartel{
  width: 1475px;
  height: 500px;

}

nav{
  background-color: rgb(41, 7, 72);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  margin-left: 0px;
}

.logo{
display: flex;
width: 75px;
height: 75px;

}

.info2{
  background-color: rgb(254, 254, 254);
  display: flex;
  margin: 10px;
  width: 1000px;
  height: 200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


.parrafo{
  color: rgb(3, 3, 3);
    font-size: 30px;
    display: flex;
    align-items: center;
}

.parrafo2{
  color: rgb(0, 0, 0);
  font-size: 20px;
  display: flex;
  height: 200px;
  align-items: center;
}

