body{
  background-attachment: fixed;
  background-size: contain;
background-repeat: round;
    }


#Trabajo{
  display: flex;
margin: 10px;
font-size: 20px;
}

.cartel{
  width: 1475px;
  height: 500px;

}

nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  margin-left: 10px;
}

.logo{
display: flex;
width: 75px;
height: 75px;

}


.info{
  display: flex;
  justify-content: center;
  align-items: center;
}


.parrafo{
  color: rgb(255, 255, 255);
    font-size: 60px;
    display: flex;
    align-items: center;
    
}

.parrafo2{
  color: rgb(192, 192, 192);
  font-size: 35px;
  
  display: flex;
  height: 200px;
  align-items: center;
}

