body{
background-color: rgb(255, 255, 255);
   }

   h2{
    color: rgb(255, 255, 255);
      font-size: 15px;
    
      }

      h1{
        color: rgb(255, 255, 255);
          font-size: 30px;
          padding: 10px;
        
          }

   #Trabajo{
    display: flex;
  margin: 10px;
  font-size: 20px;
  }

   .logo{
    display: flex;
    width: 75px;
    height: 75px;
    }

   nav{
    background-color: rgb(41, 7, 72);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    margin-left: 0px;
  }
 .card{
    display: flex;
    justify-content:center
    align-items: center;
    margin: 120px;
}

.card-body{
  font-size: 20px;
}


.mb-5 {
  color: rgb(0, 0, 0);
 font-size: 15px;
 width: 350px;
 }

 

